#headerbar {
    display: block;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}
.titleblock {
    display: block;
    float: left;
    width: 75%;
}
#sitetitle {
    font-size: 3em;
    margin-left: 10px;
    padding-bottom: 0;
    margin-bottom: -.4em;
}
#tagline {
    display: block;
    font-size: .8em;
    margin-bottom: .5em;
    margin-left: 2em;
}
#admin {
    padding-top: 1.5em;
    float: right;
    width: 25%;
    text-align: right;
    padding-right: 1em;
}